body {
  background-image: url('background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

#title {
  font-family: 'cinzel-serig', sans-serif;
  color: rgba(26, 42, 58, 0.8);
  text-shadow: 2px 2px 0px rgba(195, 100, 5, 0.2);
  position: sticky;
  text-align: center;
  top: 40px;
}

#startButton {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #88c082;
  color: white;
  border: 2px solid #1a2a3a28;
  border-radius: 15px;
  cursor: pointer;
  align-items: flex-start;
  box-shadow: 0 10px 30px #88c082;
}

#startButton:hover {
  color: solid rgb(197, 217, 226);
  box-shadow: 0 0 15px rgba(136, 192, 130, 0.3)
}

#level {
  font-size: 40px;
  background-color: #88c082;
  color: white;
  border: 2px solid #1a2a3a28;
  border-radius: 15px;
  cursor: pointer;
  left: 5%;
  box-shadow: 0 10px 30px #88c082;
}

#target {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}

#topContainer {
  display: flex;
  justify-content: center;
  gap: 25%;
  padding: 15px;
  font: 'cinzel-serig', sans-serif;
  background-color: rgba(255, 243, 243, 0.261);
  border-radius: 10px;
}

.stats {
  display: flex;
  align-items: center;
  gap: 15px;
}

.record {
  background-color: #88c082;
  color: white;
  border: 2px solid #5d8c58;
  padding: 5%;
  border-radius: 12px;
  box-shadow: 0 10px 30px #88c082;
  min-width: 50px;
  text-align: center;
  font-weight: bold;
}

#score {
  font-family: 'cinzel-serig', sans-serif;
  font-size: 30px;
  color: #5d8c58;
}

#Tarrows {
  font-size: 40px
}

#game-area {
  position: relative;
  height: 450px;
  overflow: hiddin;
}

#bow,
#arrow,
#target {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

#bow {
  left: 8%;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('bow_n_arrow.png');
  width: 160px;
  height: 160px;
  z-index: 5;
}

#arrow {
  position: absolute;
  width: 120px;
  height: 120px;

  top: 50%;
  left: 10%;

  transform: translateY(-50%);
  z-index: 10;
  background-image: url('arrow.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}

#target {
  right: 10%;
  top: 50%;
  width: 130px;
  height: 130px;
  background-image: url('shooting_target.png');
  transform: translateY(-50%);
}

.hidden {
  display: none !important;
}

#start {
  display: flex;
  align-items: flex-start;
  gap: 100%;
  margin-left: 5px
}

#level-menu {
  position: absolute;
  top: 15%;
  background-color: #1a2a3a28;
  border: 2px solid #88c082;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 100;
}

#level-menu button {
  background: none;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

#level-menu button:hover {
  background: #88c082;
}