body {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#heading h1 {
  color: #b36217;
  font-family: 'Arial', sans-serif;
  margin-bottom: 20px;
  font-size: 36px;
}

#stage {
  width: 400px;
  height: 400px;
  border: 10px solid #CDB885;
  background-color: #EFE1B5;
  position: relative;
  margin-top: 20px;
  overflow: hidden;

}

#box {
  width: 80px;
  height: 80px;
  background-color: #7e4510e2;
  position: absolute;
  top: 75px;
  left: 0;

}

#box:hover {
  background-color: #a76d36;
  transform: scale(1.2);
  cursor: pointer;
}

#startButton {
  padding: 15px;
  background-color: #6E5034;
  color: #FFFFFF;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  width: 120px;
  margin: 10px 0;
  transform: translateX(-140px)
}


#startButton:active {
  transform: translateX(-140px) scale(0.95);
}